<h6>Colors</h6>

<div class="mb-3">
    <input type="text" [(ngModel)]="colorFilterText" class="form-control" id="colorFilterText" 
    placeholder="Renk giriniz">
  </div>
  <select class="form-select" [(ngModel)]="currentColor" (change)="setQueryParams(currentColor)" aria-label="Default select example">
    <option [selected]="isAllColorSelected()" [ngValue]=undefined>Tüm Renkler</option>
    <option [selected]="isCurrentColor(color)" *ngFor="let color of colors | colorFilter:colorFilterText; index as i" [ngValue]="color">{{color.colorName}}</option>
  </select>