<h6>Brands</h6>
<div class="mb-3" >
  <input type="text" [(ngModel)]="brandFilterText" class="form-control" id="brandFilterText"
  placeholder="Marka giriniz">
</div>
<div>

<select class="form-select" [(ngModel)]="currentBrand" #brandSelection (change)="setQueryParams(currentBrand)" aria-label="Default select example">
  <option [selected]="isAllBrandSelected()" [ngValue]=undefined>Tüm markalar</option>
  <option [selected]="isCurrentBrand(brand)"  *ngFor="let brand of brands | brandFilter:brandFilterText; index as i" [ngValue]="brand"> {{brand.brandName}} </option>
</select>

</div>


