<br><h6>Brands</h6>

<ul class="list-group">
    <li (click)="clearCurrentBrand()" [class]="getAllBrandClass()" routerLink="/cars"> Tüm Markalar </li>
    <li (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.brandId}}" 
    *ngFor="let brand of brands" 
    [class]="getCurrentBrandClass(brand)"
     > {{brand.brandName}} </li>
    
</ul>
<h6 *ngIf="currentBrand" >{{currentBrand.brandName}} seçildi.</h6>   <!-- *ngIf=currentBrand ile currentBrand defined ise demek istedik.  -->