
<div class="col-md-6">
<table  class="table table-sm table-bordered" style="margin-top: 15px;">
    <thead>
        <tr>
            <th>Color Id</th>
            <th>Color Name</th>
        </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let color of colors">
          <td>{{color.colorId}}</td>
          <td>{{color.colorName}}</td> 
          <td><button class="btn btn-fill btn-sm btn-primary"  routerLink="color-add/{{color.colorId}}">Update</button></td> 
      </tr>  
    </tbody>   
</table>
</div>