<div class="content" style="margin-top: 15px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Add new color</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="colorAddForm">
                    <div class="mb-3">
                        <label for="colorName">Color Name</label>
                        <div class="form-group">
                            <input type="text" id="colorName" formControlName="colorName" class="form-control"
                                placeholder="Color Name" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Update color</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="colorUpdateForm">
                    <div class="mb-3">
                        <label for="colorId">Color Id</label>
                        <div class="form-group">
                            <input type="number" id="updateColorId" formControlName="colorId" class="form-control"
                                placeholder="Color Id" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="colorName">Color Name</label>
                        <div class="form-group">
                            <input type="text" id="updateColorName" formControlName="colorName" class="form-control"
                                placeholder="Color Name" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="update()">Update</button>
            </div>
        </div>
    </div>
</div>