<div class="content" style="margin-top: 15px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Araba ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="carAddForm" >
                    <div class="mb-3">
                        <label for="carName">Araba ismi</label>
                        <div class="form-group">
                            <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Araba ismi" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="brandId">Marka</label>
                        <select id="brandId" formControlName="brandId" class="form-select" aria-label="Marka"> 
                            <option value="" disabled selected hidden>Marka seçin</option>
                            <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="colorId">Renk</label>
                        <select id="colorId" formControlName="colorId" class="form-select" aria-label="Renk">
                            <option value="" disabled selected hidden>Renk seçin</option>
                            <option *ngFor="let color of colors" [ngValue]="color.colorId" >{{color.colorName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="modelYear">Model yılı</label>
                        <div class="form-group">
                            <input type="number" id="modelYear" formControlName="modelYear" class="form-control" placeholder="Model Yılı" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dailyPrice">Günlük ücret</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="Günlük Ücreti" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama" />
                        </div>
                    </div>
                    
                </form>  
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()" >Ekle</button>
            </div>
            
        </div>
        <div class="card" style="margin-top: 15px;">
            <div class="card-header"><h5 class="title">Araba Güncelle</h5></div>
            <div class="card-body">
                <form [formGroup]="carUpdateForm" >
                    <div class="mb-3">
                        <label for="carId">Araba Idsi</label>
                        <select id="carId" formControlName="id" class="form-select" aria-label="ID" >
                            <option value="" disabled selected hidden>Güncellemek istediğiniz aracı seçin</option>
                            <option *ngFor="let car of cars" [ngValue]="car.id" >{{car.carName}}(Id:{{car.id}}) </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="carName">Araba ismi</label>
                        <div class="form-group">
                            <input type="text" id="carUpdateName" formControlName="carName" class="form-control" placeholder="Araba ismi" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="brandId">Marka</label>
                        <select id="updatebrandId" formControlName="brandId" class="form-select" aria-label="Marka"> 
                            <option value="" disabled selected hidden>Marka seçin</option>
                            <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="colorId">Renk</label>
                        <select id="updatecolorId" formControlName="colorId" class="form-select" aria-label="Renk">
                            <option value="" disabled selected hidden>Renk seçin</option>
                            <option *ngFor="let color of colors" [ngValue]="color.colorId" >{{color.colorName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="modelYear">Model yılı</label>
                        <div class="form-group">
                            <input type="number" id="modelUpdateYear" formControlName="modelYear" class="form-control" placeholder="Model Yılı" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dailyPrice">Günlük ücret</label>
                        <div class="form-group">
                            <input type="number" id="dailyPriceUpdate" formControlName="dailyPrice" class="form-control"
                                placeholder="Günlük Ücreti" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="descriptionUpdate" formControlName="description" class="form-control" placeholder="Açıklama" />
                        </div>
                    </div>
                    
                </form>  
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="update()" >Update</button>
            </div>
            
        </div>
           
    </div>
    
</div>